{% extends "base_generic.html" %}

{% block title %}
Approvers Dashboard
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Approvers Dashboard</h2>

    <h3 class="mt-5">Unapproved Tasks</h3>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Assigned To</th>
                <th>Completed</th>
                <th>Approve</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.number }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.assign.username }}</td>
                <td>{{ task.completed|yesno:"Yes,No" }}</td>
                <td>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="task_number" value="{{ task.number }}">
                        <button type="submit" class="btn btn-success">Approve</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No Unapproved tasks available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}