{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site Title{% endblock %}</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Подключение кастомных стилей -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Welcome to Task Tracker</h1>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-white h4" href="{% url 'dashboard' %}">Dashboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white h4" href="{% url 'login' %}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container my-4">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </main>
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <p>© 2024 My Pain. All rights reserved.</p>
    </footer>

    <!-- Подключение Bootstrap JS и зависимости -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>